.scrollbar
{
	margin-left: 30px;
	float: left;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
 
.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
  }
  