{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "quoteProps": "consistent",
    "arrowParens": "always",
    "bracketSameLine": true,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "printWidth": 88
}
