
<!-- Header -->
<header class="bg-gray-800 py-6">
    <div class="container mx-auto">
        <nav class="flex justify-between items-center">
            <a href="#" class="text-white text-2xl font-bold">Titan Reactor</a>
            <ul class="flex space-x-4">
                <li><a href="#" class="text-white">Home</a></li>
                <li><a href="#" class="text-white">Features</a></li>
                <li><a href="#" class="text-white">Gallery</a></li>
                <li><a href="#" class="text-white">Documentation</a></li>
                <li><a href="https://discord.gg/yfbYyM3c5k" target="_blank" class="text-white">Community</a></li>
                <li><a href="https://github.com/imbateam-gg/titan-reactor/releases" target="_blank" class="text-white">Download</a></li>
                <li><a href="#" class="text-white">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>